<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen, projection">

    <title>Car price</title>
  </head>
  <body>

    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="\" style="color: antiquewhite;">Car price</a>
        </div>
    </nav>
    
    <div class="container my-5">

        <form action="\result" method="post">
            <div class="row my-3">
                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                          <h5 class="card-title">Brand</h5>
                          {{ form.brand() }}
                        </div>
                      </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                          <h5 class="card-title">Carcase</h5>
                          {{ form.carcase() }}
                        </div>
                      </div>
                </div>
            </div>

            <div class="row my-3">    
                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                          <h5 class="card-title">Year of manufacture</h5>
                          {{ form.year() }}
                        </div>
                      </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                          <h5 class="card-title">Engine capacity</h5>
                          {{ form.engine_capacity() }}
                        </div>
                      </div>
                </div>
            </div>
    
            <div class="row my-3">
                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                            <h5 class="card-title">Drive unit</h5>
                            {{ form.drive_unit() }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                          <h5 class="card-title">Transmission</h5>
                          {{ form.transmission() }}
                        </div>
                      </div>
                </div>
            </div>

            <div class="row my-3">    
                <div class="col-sm-6">
                    <div class="card" style="border-radius: 2.15rem; opacity: 0.7;">
                        <div class="card-body">
                          <h5 class="card-title">End of guarantee</h5>
                          {{ form.guarantee() }}
                        </div>
                      </div>
                </div>
            </div>

            <div style='text-align:center'>
              {{ form.submit(style ='font-size: 25px', class="btn btn-primary px-5") }}
            </div>
        
        </form>

        <h1 style='text-align: center;color: white;'><b>{% block content %} {{prediction|safe}} {% endblock %}</b></h1>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>